/*=====================Header==================*/
/* .header 

.sektion

.navigaation

.logo

.logo-blue

.nav-item

.nav-item-link

.cont

.cont-link
*/
/*:root {

}
body {
  background-color: #ffffff;
  color:  #212121 ;
  list-style-type: none;
}
.header {
  list-style-type: none;
}
*/
ul,
li,
a {
  list-style: none;
  list-style-type: none;
  text-decoration: none;
}
body {
  font-family: 'Roboto';
}
.header {
  width: 1600px;
  height: 80px;
  left: 0px;
  top: 0px;
  background-color: #ffffff;
}
.logo {
  color: #000000;
}
.menu-item {
  font-family: 'Roboto', 'Arial';
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #212121;
}

.menu-item-link:hover,
.menu-item-link:focus {
  color: #2196f3;
}
.menu-item-link.current,
.logo-blue {
  color: #2196f3;
}

.cont-link {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #757575;
}
.cont-link:hover,
.cont-link:focus,
.cont-link-map {
  color: #2196f3;
}

/*=====================HERO=======================*/

.hero {
  background-color: #2f303a;
  color: #ffffff;
  text-align: center;
}
.hero-face {
  text-transform: uppercase;
  font-family: Roboto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1, 4;
  text-align: center;
  letter-spacing: 0.06em;
}
.hero-button {
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: #ffffff;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;

  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.hero-button:hover,
.hero-button:focus {
}
.hero-button-go {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}

/*=====================ABOUT======================*/

.about {
}
.about-list {
}
.about-list-name {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.about-list-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
}

/*===================== What we do ==============*/
.what {
}

.what-chapter {
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.what-we {
}
.what-img-1 .what {
  left: 215px;
  top: 1061px;
}
.what-img-2 {
  left: 615px;
  top: 1061px;
}
.what-img-3 {
  left: 1015px;
  top: 1061px;
}
/*=====================Team=====================*/
.team {
}
.team-list {
}
.team-list-itam {
}
.team-foto {
}

/*=====================Footer=====================*/
.footer {
  background-color: #2f303a;
  text-align: left;
}
.logo-footer {
  color: #ffffff;
}
.addres {
  font-family: 'Roboto';
  font-weight: normal;
  font-size: 24px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.cont-link-map {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: rgba(255, 255, 255, 0.6);
}
.cont-link-map:hover,
.cont-link-map:focus {
  color: #2196f3;
}
