/*=====================Header==================*/
ul,
li,
a {
  list-style: none;
  list-style-type: none;
  text-decoration: none;
}
body {
  font-family: 'Roboto', 'sans-serif';
}
.header {
  width: 1600px;
  height: 80px;
  left: 0px;
  top: 0px;
  background-color: #ffffff;
}
.logo {
  color: #000000;
}
.menu-item {
  font-family: 'Roboto', 'sans-serif';
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #212121;
}
.menu-item a {
  color: #000000;
}

.menu-item-link:hover,
.menu-item-link:focus {
  color: #2196f3;
}
.menu-item-link.current,
.logo-blue {
  color: #2196f3;
}

.cont-link {
  font-family: 'Roboto', 'sans-serif';
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #757575;
}
.cont-link:hover,
.cont-link:focus,
.cont-link-map {
  color: #2196f3;
}

/*=====================HERO=======================*/

.hero {
  background-color: #2f303a;
  color: #ffffff;
  text-align: center;
}
.hero-face {
  text-transform: uppercase;
  font-family: Roboto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1, 4;
  text-align: center;
  letter-spacing: 0.06em;
}
.hero-button {
  font-family: 'Roboto', 'sans-serif';
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: #ffffff;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;

  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.hero-button-go {
  font-family: 'Roboto', 'sans-serif';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}

/*=====================ABOUT======================*/

.about h3 {
  font-family: 'Roboto', 'sans-serif';
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.about p {
  font-family: 'Roboto', 'sans-serif';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
}

/*===================== What we do ==============*/
.whatwedo h2 {
  font-family: 'Roboto', 'sans-serif';
  font-weight: bold;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

/*=====================Team=====================*/

.team-list {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.team-list-itam h4 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.team-list-itam p {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

/*=====================Footer=====================*/
.footer {
  background-color: #2f303a;
  text-align: left;
}
.logo-footer {
  color: #ffffff;
}
.addres {
  font-family: 'Roboto', 'sans-serif';
  font-weight: normal;
  font-size: 24px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.cont-link.map {
  font-family: 'Roboto', 'sans-serif';
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: rgba(255, 255, 255, 0.6);
}
.cont-link.map:hover,
.cont-link.map:focus {
  color: #2196f3;
}
/*========END FOOTER ==========*/
/*========PORTFOLIO===========*/
.gallery-portfolio {
  color: #ffffff;
}
/*========PORTFOLIO HERO======*/
.nav-portfolio-list li {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  cursor: pointer;
}
.portfolio-button:hover,
.portfolio-button:focus {
  background-color: #2196f3;
  color: #ffffff;
}

/*===========GALLERY=====*/
.gallery h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
.gallery p {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0.03em;
  color: #757575;
}
